#
# Static configuration. It should not be changed
#

[DEFAULT]
verbose = true
debug = VAR_DEBUG
use_stderr = true
[database]
metering_connection = fiprom://


#
# Part to customize
#

[fiprom]
push_gateway = VAR_PUSHGATEWAY_URL
converter_conf_file = VAR_CONVERTER_FILE
names_file = VAR_NAMES_FILE
tenant_group_file = VAR_GROUPS_FILE
cache_file = VAR_CACHE_FILE
stale_timeout = VAR_STALE_TIMEOUT

# comment this to not produce the fiprom.log file (likely in production environment)
log_file = VAR_LOG_FILE


# put here connection detailsfor rabbitmq
[oslo_messaging_rabbit]
rabbit_hosts = VAR_RABBITMQ_URL
rabbit_userid = VAR_RABBITMQ_USER
rabbit_password = VAR_RABBITMQ_PASSWORD

[publisher]
metering_secret = VAR_METERING_SECRET

